<form action=<%root_path%> >
    <div class="input-group w-25">
        <%= text_field_tag :search_term, params[:search], id: 'search_term',class: 'form-control p-2 m-2', placeholder:'Search...' %>
        <button class="btn btn-primary text-light m-2"type="submit">Search</button>
    </div>
</form>

<h1 class="text-center display-2">All Products</h1>
<%= render 'partials/display_products', product: @product %>
