<%= form_with( scope: :wishlist, url: wishlist_url, local:true) do |form| %>
  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id%>
  </div>

  <div class="field">
    <%= form.hidden_field :product_id, value: @product.id%>
  </div>
  <%unless in_wishlist?(current_user, @product.id)%>
    <div class="actions">
      <%= button_tag(type: 'submit', class: "btn btn-success") do %>
        Add to Wishlist
      <% end %>
    </div>
  <%else%>
    <strong class="btn btn-outline-success disabled m-3">Added to Wishlist</strong>
  <%end%>
<%end%>
